*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: hsl( var(--primary-clr) );
    color: hsl( var(--secondary-clr) );
}

input,
textarea,
select,
button {
    font-family: inherit;
    color: inherit;
    border: 0;
}

button,
select {
    cursor: pointer;
}

ul {
    padding: 0;
    list-style: none;
}