.main-content {
    padding: 2rem;
}

.wrapper {
    align-items: center;
}

.wrapper > * {
    flex-basis: 100%;
}

.translated-text {
    min-height: 10rem;
    padding: 1rem;
    background-color: hsl( var(--secondary-clr) / .5 );
    border-radius: 0.625rem;
    overflow-y: auto;
}